html {
    height: 100%;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: #f8f8f8;

    
}

body {
    min-height: 100%;
    margin: 0;

}

p {
    margin: 1pt;
}

.header {
    position: absolute;
    top: 0vh;
    
    display: flex;
    align-items: center;

    height: 8vh;

    padding-left: 2vw;
    padding-right: 2vw;

    z-index: 10;

    box-shadow: 0px 2px 10px #747474;

    background-color: #f8f8f8;

}

#title {
    width: 20vw;
    
    font-size: 1.5em;
    font-weight: bold;

    text-align: center;   
}

#titlespacer {
    width: 60vw;
}

#reset {
    width: 8vw;
    height: 6vh;

    margin-left: 1vw;
    margin-right: 1vw;

    text-align: center;
    align-content: center;

    background-color: #FFFFFF;

    box-shadow: 1px 1px 4px #909090;

    border-radius: 4pt;
}

#reset:hover {
    background-color: #d60000;

    color: #FFFFFF;

    box-shadow: 1px 1px 4px #505050;

}

#settings {
    display: flex;

    align-items: center;
    justify-content: center;
    
    width: 4vw;
    height: 6vh;

    margin-left: 1vw;
    margin-right: 1vw;

}

#settingsicon {
    
    width: 30pt;
    height: 30pt;
}

.footer {
    position: absolute;
    top: 94vh;
    
    display: flex;
    align-items: center;

    height: 6vh;

    padding-left: 2vw;
    padding-right: 2vw;

    z-index: 10;

    background-color: #e7e7e7;
}

#leftlinks { 
    display: flex;
    align-items: center;

    width: 30vw;
}

#rightlinks {
    display: flex;
    align-items: center;
    justify-content: right;

    width: 10vw;
}

.footerlink {
    margin-left: 1vw;
    margin-right: 1vw;

    font-size: .85em;

    color: #404040;

    text-decoration-line: underline;
}

.footerlinkimg {
    width: 25pt;
    height: 25pt;
}

#footerspacer {
    width: 56vw;
}



.body {
    height: 86vh;

}

.viewspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 85vh;

    z-index: 1;

    background-color: #f08383;
}

.buttonspace {
    position: absolute;

    top: 74vh;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
    width: 100vw;

    z-index: 5;

    box-shadow: 0px -2px 10px #323232;
    background-color: #e9a76e;
}

.startingblock {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 190pt;
    height: 55pt;

    border: 1.13pt solid black;
    border-radius: 3pt;

    z-index: 4;

    background-color: #FFFFFF;

    font-size: 1.5em;

    transition: all 2s;
}

.startingblock.up,.block.up,.question.up {
    transform: translateY(-350px);
}

.line.up {
    position: absolute;
    border-left: 1.3pt solid black;
    transform: translateY(-200px);
    height: 50vh;

    transition: all 2s;
}

.line.upleft {
    position: absolute;
    border-left: 1.3pt solid black;
    translate: -59vw;
    transform: translateY(-200px);
    height: 50vh;

    transition: all 2s;
}

.line.down {
    position: absolute;
    border-left: 1.3pt solid black;
    transform: translateY(200px);
    height: 50vh;

    transition: all 2s;
}

.line.downdown {
    position: absolute;
    border-left: 1.3pt solid black;
    transform: translateY(200px);
    height: 0vh;

    transition: all 2s;
}

.line.downleft {
    position: absolute;
    border-left: 1.3pt solid black;
    translate: -59vw;
    transform: translateY(200px);
    height: 50vh;

    transition: all 2s;
}

.line.left {
    position: absolute;
    border-top: 1.3pt solid black;
    translate: -25vw 0px;
    width: 50vw;

    transition: all 2s;
    
}

.line.right {
    position: absolute;
    border-top: 1.3pt solid black;
    translate: 25vw 0px;
    width: 50vw;

    transition: all 2s;
}

.line.rightdown {
    position: absolute;
    border-top: 1.3pt solid black;
    translate: 25vw 350px;

    width: 50vw;

    transition: all 2s;
}

.block {
    position: absolute;
    
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;

    flex-direction: column;

    padding: 5pt;

    width: 150pt;
    height: 70pt;

    border: 1.13pt solid black;
    border-radius: 3pt;

    z-index: 4;

    background-color: #FFFFFF;

    transition: all 2s;

    font-size: 1.5em;
}

.question {
    position: absolute;
    
    display: flex;
    align-items: center;
    text-align: center;

    width: 180pt;
    height: 90pt;

    padding-left: 5pt;
    padding-right: 5pt;

    border: 1.13pt solid black;
    border-radius: 50pt;

    z-index: 4;

    background-color: #FFFFFF;

    font-size: 1.5em;

    transform: translateY(0px);

    transition: all 2s;
}

.block.down,.question.down {


    transition: all 2s;

    transform: translateY(350px);
}

.block.left,.question.left {
    transition: all 2s;

    translate: -59vw;
}

.block.right {
    transition: all 2s;

    translate: 67vw;
}

#breath {
    width: 350pt;
    height: 200pt;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 110pt;
    height: 50pt;

    border-radius: 4pt;

    box-shadow: 4px 4px #d39662;

    margin: 6pt;

    background-color: #FFFFFF;

    font-size: 1em;
}

.button:hover {
    background-color: #F2F2F2;

    width: 109pt;
    height: 49pt;

    margin: 6.5pt;

    box-shadow: 4px 4px #cf915c;
}

.button.gone {
    display: none;
}

.button.reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.reset:hover {
    background-color: #d60000;

    color: #FFFFFF;

    box-shadow: 1px 1px 4px #505050;
}
